

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_HeaderFooter</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header style="height:100px; background-color:darkblue; color:white; text-align:center">
        <h1> Welcome to XYZ Store.</h1>
    </header>

    <div style="height:400px; text-align:center">
        @RenderBody()
    </div>

    <footer style="height:100px;text-align:center;background-color:chartreuse;color:navy">
        <h2> This is footer</h2>
        <h2> &copy; Copyright of XYZ Store.  @DateTime.Now</h2>
    </footer>
</body>
</html>
